{% extends 'index.html' %}
{% load static %}

{%block content%}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}

<div class="container">
  <h6 class='alaoddin' >كهربائات محافظة دير الزور</h6>

  <form method="GET"  >
    <div class='row'>
        <div class='form-group col-6'>
          {{ filter.name|as_crispy_field }}
          {{ filter.city|as_crispy_field }}
        </div>
        
        
        <div class='form-group col-6'>
          {{ filter.price|as_crispy_field }}
          
        </div>
        <input type='submit' value='بحث' class="btn btn-light btn-lg btn-block sm" >
    
      
    </div>
  </form>
  <div class="row">
    {% for x in Electrical_tools %}
      <div class="col-12 col-md-4 mb-4">
        <div class="card">
          
          <img src="{{x.image_one.url}}" class="card-img-top" style="width: 100%; height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">{{x.car_type}} نوع العقار</h5>
            <p class="card-text">{{x.Description}} وصف مختصر للعقار.</p>
            <p class="card-text">السعر{{x.price}} ,</p>
            <p class="card-text">الموقع:{{x.city}}</p>
            <a href="/cars/car_details/{{x.id}}" class="btn btn-primary">المزيد من التفاصيل</a>
          </div>
        </div>
      </div>
      
    

    {% endfor %}
  </div>
</div>

{% endblock content %}